<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Login</title>
</head>
<body>
    <h1 style="font-size: 15px; text-align: center;"> <a style="color: white; text-decoration: none; position: relative; bottom: 10px;"
    href="https://www.instagram.com/_.samarthhhhh._/">• Made By Sam</a></h1>

    <h2>Login</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Login">
    </form>
    <a href="/register">Create a account</a>
    <form action="/login" method="get">
        <input type="hidden" name="skip_login">
        <input type="submit" value="Skip Login">
    </form>
</body>
</html>
